.scan-result {
    position: relative;
height: calc(100vh - 58px);
  max-height: calc(100vh - 58px);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.success-result.hidden,
.warning-result.hidden,
.error-result.hidden {
    display: none;
  /* width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0; */
}

.success-result,
.warning-result,
.error-result {
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
  padding: 0 20px;
}

.success-result .success-title,
.error-result .error-title,
.warning-result .warning-title {
  font-family: "HomeVideo-Bold";
  font-size: 65px;
  text-align: center;
}

.success-result .success-title {
  color: var(--accent-green);
}

.success-result .tickets-img,
.warning-result .warning-img,
.error-result .error-img {
  /* margin-top: 50px; */
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.success-result .tickets-img {
  /* background-image: url("../assets/picture/tickets.svg"); */
  background-image: url("../assets/picture/succes_qr.png");
}

.error-result .error-title {
  color: var(--accent-red);
}

.error-result .error-img {
  /* background-image: url("../assets/picture/monkey-error.svg"); */
  background-image: url("../assets/picture/error_qr.png");
}

.warning-message, .error-message, .success-message {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border-radius: 20px;
    font-family: "Zekton";
    text-align: center;
    font-size: 25px;
    /* height: 100vh; 
    height: 100dvh; */
    line-height: 120%;
color:var(--bs-body-bg);
}

.warning-message {
    background-color: var(--orange-medium);
    -webkit-box-shadow: 0px 12px 44px 11px rgba(255, 108, 44, 0.4);
    -moz-box-shadow: 0px 12px 44px 11px rgba(60, 52, 48, 0.4);
    box-shadow: 0px 12px 44px 11px rgba(255, 108, 44, 0.4);
}

.error-message {
    background-color: var(--accent-red);
    -webkit-box-shadow: 0px 12px 44px 11px rgba(255, 44, 76, 0.4);
    -moz-box-shadow: 0px 12px 44px 11px rgba(255, 44, 76, 0.4);
    box-shadow: 0px 12px 44px 11px rgba(255, 44, 76, 0.4);
}

.success-message {
    background-color: var(--accent-green);
    -webkit-box-shadow: 0px 12px 44px 11px rgba(44, 255, 117, 0.4);
    -moz-box-shadow: 0px 12px 44px 11px rgba(44, 255, 117, 0.4);
    box-shadow: 0px 12px 44px 11px rgba(44, 255, 117, 0.4);
}

.warning-result .warning-title {
  color: var(--orange-medium);
}

.warning-result .warning-img {
  /* background-image: url("../assets/picture/warning_non_light.svg"); */
  background-image: url("../assets/picture/warning_qr.png");
}

.back_scan_wrapper {
    position: absolute;
    bottom: 30px;
}

.back_scan_wrapper .btn_primary {
    margin-top: 0;
}


/* From Uiverse.io by alexruix */ 
.loader {
    --cell-size: 32px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
  }

  .loader.hidden {
    display: none;
  }
  
  .cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
  }
  
  .cell.d-1 {
    animation-delay: 100ms;
  }
  
  .cell.d-2 {
    animation-delay: 200ms;
  }
  
  .cell.d-3 {
    animation-delay: 300ms;
  }
  
  .cell.d-4 {
    animation-delay: 400ms;
  }
  
  .cell:nth-child(1) {
    /* --cell-color: #00FF87; */
    --cell-color: var(--accent-purple);
    
  }
  
  .cell:nth-child(2) {
    /* --cell-color: #0CFD95; */
    --cell-color: #6354FF; 
  }
  
  .cell:nth-child(3) {
    /* --cell-color: #17FBA2; */
    --cell-color: #5060FF;
  }
  
  .cell:nth-child(4) {
    /* --cell-color: #23F9B2; */
    --cell-color: #3C6BFF;
  }
  
  .cell:nth-child(5) {
    /* --cell-color: #30F7C3; */
    --cell-color: #2CA1FF;
    
  }
  
  .cell:nth-child(6) {
    /* --cell-color: #3DF5D4; */
    --cell-color: #2BBCFE;
  }
  
  .cell:nth-child(7) {
    /* --cell-color: #45F4DE; */
    --cell-color: var( --accent-cyan);
  }
  
  .cell:nth-child(8) {
    /* --cell-color: #53F1F0; */
    --cell-color: #2CF5CB;
  }
  
  .cell:nth-child(9) {
    /* --cell-color: #60EFFF; */
    --cell-color: var(--accent-green);
    
  }
  
  /*Animation*/
  @keyframes ripple {
    0% {
      background-color: transparent;
    }
  
    30% {
      background-color: var(--cell-color);
    }
  
    60% {
      background-color: transparent;
    }
  
    100% {
      background-color: transparent;
    }
  }
